<h1>Available Products</h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No products in invetory.</p>
<% end %>


<p><%= link_to "add product", new_product_path %></p>