<h1>Marios Imports</h1>
<h4>Welcome to Marios Imports. We pride ourselves on customer service and an amazing selection of rare beers from around the globe! Look around our site, and if you do purchase a beverage, make sure to leave a review. Enjoy! </h4>
<h3>Available Products</h3>

<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>No products in invetory.</p>
<% end %>


<p><%= link_to "add product", new_product_path %></p>