
<h1>Welcome to Marios Beverages</h1>
<h3>Our site offers an extensive selection of beers from around the globe. Browse through our existing selction or add a beverage to our inventory! If you do purchase a beer, make sure to leave a review. Enjoy! </h3>

  <%=link_to 'View our inventory', products_path%><br><br>
  <%=link_to 'Add a beer to inventory', new_product_path%>


  